
.logo{
    background-color:white;     
}
.titulo{ 
    margin-top: 5%;
    text-align: center;
    color: aliceblue;
    font-size: 210%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: aliceblue;
    font-family:cursive;
    margin: 0;
}
.imagens li{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    text-align: center;
    margin-left: 4%; 
    margin-top: 10%;
}
body{
    background:-webkit-linear-gradient(left, #3d3c3d, #060606);
    lin
}