body{
    background-image: url('imagens/cine.webp');
    background-size: cover;
    background-position: center;
}
.logo{
    background-color:white;     
}
.titulo{ 
    margin-top: 5%;
    text-align: center;
    color: aliceblue;
    font-size: 210%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: aliceblue;
    font-family:cursive;
    line-height: 1.5;
    margin: 0;
}
.imagens li{
    display: inline-block;
    vertical-align: top;
    text-align: center; 
    margin-top: 8%;
    margin-left: 7%;
    transition: transform 0.2s ease-out;
}

.imagens li img:hover {
    transform: scale(1.1);
}