body{
    margin-bottom: 5%;
    background:rgba(6, 6, 6, 0.972);
    min-height: 100vh;
 }
h1{
    background-color:rgb(255, 255, 255);
}
h2 {
    text-align: center;
    color: aliceblue;
    margin-top: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h3{
   color: aliceblue;
}
.link{
    color: rgb(18, 17, 17);
    margin-left: 70%;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80%;
   }
.link:hover {
      color: white;
    }
.logo {
   display: inline-block;
   vertical-align: middle;  
 }

 p{ 
    color: aliceblue;  
 }
 .filme{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
    line-height: 200%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 3%;
    text-align: justify;
 }
 .filme img {
    margin-right: 15px;
    margin-left: 3%;
 }
 .filme h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3px;
    margin-top:50px;
 }
 @media screen and (max-width:500px) {
   h1{
      font-size: 20px
   }
   h2{
      font-size: 20px;
   }
   .filme img{
      width: 100px;
   }
   .filme{
      font-size: 10px;
   }
 
   .logo{
      width: 130px;
   }
   .link{
      font-size: 15px;
   }
 }